@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lalezar&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lalezar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap");


header {
  background: rgb(32, 105, 117);
  background: linear-gradient(
    160deg,
    rgba(32, 105, 117, 1) 0%,
    rgba(104, 130, 160, 1) 31%,
    rgba(205, 224, 201, 1) 54%,
    rgba(237, 236, 222, 1) 76%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: "Poppins";
  font-size: 2em;
}

.landing-container {
  font-family: "Poppins";
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../../public/img/greenWaves.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.header-content {
  margin-bottom: 50px;
  margin-left: 125px;
}

.header-title {
  font-size: 4.5em;
  opacity: 50%;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 1;
  width: 600px;
  font-style: italic;
  text-align: left;
  font-family: "Lalezar", system-ui;
}
.header-motto {
  margin-bottom: 0;
  font-size: 1em;
  opacity: 40%;
  text-align: left;
  font-style: italic;
}

.right-bar {
  max-width: 330px;
  height: auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .landing-header {
    flex-direction: row;
    padding: 20px;
  }

  .header-content,
  .header-image {
    flex: 1;
  }

  .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
