body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.app .navbar {
  height: 40px;
  position: fixed; /* Fix the navbar to the top of the viewport */
  width: 100%; /* Make the navbar span the entire width of the viewport */
  z-index: 1000; /* Ensure the navbar is stacked above other content */
}

.app nav {
  border-radius: 0;
  background-color: #edecde; /* Set the background color of the navbar */
  display: flex;
}

/* Additional styles as before */

.app nav ul {
  text-align: right;
  margin-top: 0px;
  display: flex;
  text-align: center;
  width: 80%;
}

.app nav ul li:first-child {
  text-decoration: underline;
}

.app nav li {
  text-align: center;
  margin: 10px;
  list-style: none;
  color: #206975;
}

.app nav li a {
  color: #206975;
  text-decoration: none;
}
